<div id="examForm">
	<div class="formRow">
		<label>Level</label>
		<select [(ngModel)]="exam.level" name="questionLocale">
			<option *ngFor="let level of levels" [ngValue]="level">{{ level }}</option>
		</select>
	</div>
	<div class="formRow">
		<label>Question Language</label>
		<select [(ngModel)]="exam.questionLocale" name="questionLocale">
			<option *ngFor="let locale of locales" [ngValue]="locale">{{ locale }}</option>
		</select>
	</div>
	<div class="formRow">
		<label>Answer Language</label>
		<select [(ngModel)]="exam.answerLocale" name="answerLocale">
			<option *ngFor="let locale of restLocales(exam.questionLocale)" [ngValue]="locale">{{ locale }}</option>
		</select>
	</div>
	<div class="formRow">
		<label>Case Sensitive</label>
		<input [(ngModel)]="exam.caseSensitive" type="checkbox">
	</div>
	<div class="formRow">
		<label>Latest</label>
		<input [(ngModel)]="exam.latest" type="number" max="{{ max }}">
	</div>
	<div class="formRow">
		<label>Number of Questions</label>
		<input [(ngModel)]="exam.numberOfQuestions" type="number">
	</div>
	<button (click)="startExam()">Start Exam</button>
</div>
<h2>Exam Questions</h2>
<div id="questionList">
	<div class="questionRow" *ngFor="let question of exam.questions">
		<label>{{ question.text }}</label>
		<input type="text" id="{{question.id}}" (keyup.enter)="changeAnswer($event)" (focusout)="changeAnswer($event)">
	</div>
</div>
